.satu{
background-color: white;
width: 800px;
height: 720px;
z-index: 1;
float: right;
}
body{
  background-image: url(Stupa_Borobudur.jpg);
}
h1{
  padding-top: 10px;
  text-align: right;
}
p{
  text-align: right;
  font-weight: bold;
}
